doctype html
html
    head
        title my Site
        style.
            body {
                    background-color: #ccc;
                    margin: 0;
            }
            div {
                padding-top: 30px;
            }
            form span {
                text-align: center;
                display: inline-block;
                width: 13%;
                font-size: 18px;
            }
            form.one {
                padding: 10px 0;
                margin: 0;
            }
            form.one:hover {
                cursor: pointer;
                background-color: #fff;    
            }
            p.main span {
                text-align: center;
                display: inline-block;
                width: 13%;
                font: 600 20px/50px 'Arial', sans-serif;
            }
            #index,
            #save,
            p.one span.write {
                width: 4%;
                color: red;
            }

            p.main {                
                margin: 0 auto;
                position: fixed;
                width: 100%;
                top: 0;               
               
                background-color: #fff;
            }
            #rename {
                height: 300px;
                width: 80%;
                position: fixed;
                top: 200px;
                left: 10%;
                background-color: #fff;
                display: none;
            }
            .close {
                position: fixed;
                top: 200px;
               
                background-color: rgba(255, 255, 255, 0.5);
                padding: 20px;
            }
            input {
                width: 5%;
                margin: 0 3%;
                font-size: 20px;
                text-align: center;
                padding: 10px;
            }
            p.one span.write {
                font-size: 20px;               
            }
            #id {
                display: none;
            }
            .write {
                margin-left: 10px;
            }    
body   
    -var one = base
        a.close(href="/" title="exit") &#10060;          
        div
            p.main
                span#index №  
                span brand
                span model
                span gender
                span color
                span size
                span cost
                span sale
                span#save save
            p.one           
            for i,index in one               
                    form.one(action="/write_to_base" method="get")
                        input#id(type="text" value=i.id name="id")
                        input#id(type="text" value=i.brand name="brand")    
                        span#index= index+1 
                        span= i.brand
                        span= i.model
                        span= i.gender
                        span= i.color
                        span= i.size
                        input(type="text" value=i.cost name="cost") 
                        input(type="text" value=i.sale name="sale")
                        button.write(type="submit" title="write to base") &#x270E;
           
           

script.
        var two = "#{folders}"
       
        const  replace = ( a ) => {
            document.getElementById("rename").style.display = "block"
            document.getElementById("brand").value = a.toString()
            //- document.getElementById("color").value = c
        }
        const close = () => {
            document.getElementById("rename").style.display = "none"
        }                   
       