html
    head
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet"/>
        title pug
    style.
        div {
            
            width: 50%;
            text-align: center;
            margin: 100px auto;
        }
        input,a {
             display: block;
             margin: 10px auto;
            
            
             width: 80%;
             font: 300  25px/50px 'Montcerrat',sans-serif;
             background-color: #ddd;
             border: none;
             color: blue;
             box-sizing: border-box;
             cursor: pointer;
            
        }
        a {
            width: 80%;
            text-align: center;
            font-size: 25px;
           
            text-decoration: none;
        }
        a:hover,input:hover {
            box-shadow: 0 0 10px 1px  silver;
        }
        @media (max-width: 1000px) {
            div {
               width: 100%
            }
            a,input {
                
                font: 300  45px/100px 'Montcerrat',sans-serif;
               
            }
        }


body
div 
    
    h1 upload file to #{brand.toUpperCase()}   #{folders[0]}  
    form(action= "uploadimage" method="post" enctype="multipart/form-data")        
        input(
            type= "file"
            name= "imageupload"  
            value = "select file" 
            placeholder= "select file"
        )
        input(type="submit" value="UPLOAD")
     
   
    a(href=exit) EXIT


    
