doctype html
html
    head
        title my Site
        style.
             body {
                    background-color: #ccc;
                }
            .a_folders,            
            button  {
                box-shadow: inset 0 0 5px 5px #ee82ee; 
                margin:10px 2%;
                width: 46%;               
                border-radius: 50px;      
                display: inline-block;
                text-align: center;
                background-color: #dda0dd;               
                font: 600 35px/60px "Arial",sans-serif;
                text-decoration: none;
                color: #fff;
                z-index: 0;
                height: 60px;
                border: none;
                vertical-align: middle;
                position: relative;
            }
            .menu {
                width: 30%;
                text-align: center;
                color: #fff;
                margin: 0 1%;
                text-decoration: none;                
                display: inline-block;
                font: 600 35px/30px "Arial",sans-serif;
            }
            .menu:hover {
                 color: red;   
            }
            button {
                display: block;
                margin: 20px auto;
                cursor: pointer;
            }
            button:hover {
                border: 2px solid red;
            }
            .a_folders {
                width: 100%;
                margin:10px 7%;
            }           
            #main_block {
                margin: 5vw auto;
                width: 70%;
                padding: 0;           
            }
            #two { 
                background-color: #ddd;
                margin: 20px auto;
                border: 1px solid #fff;
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
               
            }
            #one {
                 border: 1px solid #fff;
                 background-color: #ddd;
            }         
            .one { 
               
                box-sizing: border-box;                   
                width: 46.5%;
                margin: 1%;                
                display: inline-block;
                text-align: right;
            }
            span.del, span.rename {               
                font: 600 30px/50px "Arial",sans-serif;               
                display: inline-block;
                height: 50px;
                width: 50px;
                z-index: 10;
                margin-left: -90px;                
                text-align: center;
                cursor: pointer;
                vertical-align: middle;
                position: relative;
                right: 0;   

            }
            span.rename {
                 margin-right: -85px;
                 vertical-align: middle;
                 color: green;
            }
            a.a_base {
                 margin-right: -85px;
                 vertical-align: middle;
                 text-decoration: none;
                 font: 800 35px/50px "Arial",sans-serif;   
                 position: relative;
                 z-index: 10;              
                
            }
            a.a_base:hover {
               color: red;
            }
            span.rename:hover {
               color: maroon;
            }
            #delete,
            #rename {
                display: none;
                width: 90%;                
                text-align: center;
                margin: 100px auto 0;
                font: 600 40px/40px "Arial",sans-serif;
            }
            #last_name {
                border: none;
                width: 20%;
                text-align: center;
            }
            input {
                padding: 0 1%;
                width: 44%;
                float: none;
                box-sizing: border-box;
                outline: none;
                display: block;
                margin: 20px auto;
                background-color: #ccc;
                border: none;
                font: 600 30px/60px "Arial",sans-serif;
                border-bottom: 2px solid #ee82ee;
                color: red;
               
            }
            input:selection {
                border-radius: 40px;
            }
            #folder_delete,
            #folder_rename {
                padding:0 20px;
                border-radius: 5px;
                margin: 10px 10px 20px;
                color: white;
                background-color: blue;
                font: 300 40px/40px "Arial",sans-serif;
            }
            h1 {
               text-align: center;
               width: 100%;
            }
            @media (max-width: 1000px) {
                a {                   
                    height: 100px;
                    font: 400 30px/100px "Arial",sans-serif;
                }
                #main_block {
                    width: 100%;
                    margin: 10px 0;
                }
                #rename a,input {
                    width: 100%;
                    font-size: 40px;
                    height: 100px;
                    margin: 30px auto;
                }              
                div,
                body {
                    background-color: #ccc;
                }
            }  
    body  
                  
        form#rename(action="/rename?last=last_name" method="get")
            label Rename folder                
                input#last_name(type="text" name="last_name")          
            input(type="text" name="name" placeholder="new name" minlength="3" required autofocus)          
            button(type="submit") RENAME
            a(href = `${url}`) NONE

        div#delete
            p You wish delete folder
                span#folder_delete 
                b ?           
            a(href= `${url}` title="only admin") yes (only admin) 
            br                
            a(href= `${url}`) no 
                             
        div#main_block
            div#two                
                a.menu(href = `${url}/createFolder`) create folder
                a.menu(href = `${url}/upload_base`) upload base 
                a.menu(href = `${url}/question`) questions 
                  
            //- h1 #{folders.length} folders
           
            -var one = folders           
            div#one
                for i,index in one
                    p.one    
                        span.rename(
                            title="rename folder",                            
                            onclick=`rename_folder(${index})`
                            ) &#x270E;
                        a.a_base(href= `${url}/readBase/?brand=${i}`) ?                                          
                        a.a_folders(href= `${url}/items/?brand=${i}`)= i                                    
                        span.del(
                            title="delete folder",
                            onclick= `delete_folder(${index})` 
                            ) &#x274C;
        

        

    script.
        var two = "#{folders}"
       
        const  rename_folder = ( b ) => {
            document.getElementById("main_block").style.display = "none"
            document.getElementById("rename").style.display = "block"          
            document.getElementById("last_name").value = two.split(',')[b].toUpperCase()
        }                   
       const  delete_folder = ( b ) => {
            document.getElementById("main_block").style.display = "none"
            document.getElementById("delete").style.display = "block"
            document.getElementById("folder_delete").innerHTML = two.split(',')[b]
        }                   