doctype html
html
    head
        title my Site
        style.
            body {
                    background-color: #ccc;
                    margin: 0;
            }
            div {
                padding-top: 60px;
            }
            form span {
                text-align: center;
                display: inline-block;
                width: 10%;
                vertical-align: middle;
                font-size: 18px;
            }
            p.main span {
                text-align: center;
                display: inline-block;
                
                 font: 600 1.5vw/50px 'Arial', sans-serif;
               
            }
            p span.date {
                width: 10%;
                text-align: center;
                padding: 0;
            }
           
            #index,
            #save,
            p.one span.write {
                width: 4%;
                color: red;
            }
            .main_name {
                width: 15%;               
                text-align: center;               
                display: inline-block;               
               
            }
            #name {
                background-color: #ccc;
                border: none;
                width: 15%;
               
                text-align: center;
               
                display: inline-block;
               
                font: 400 1.5vw/50px 'Arial', sans-serif;
            }    
            p.main {                
                margin: 0 auto;
                position: fixed;
                width: 100%;
                top: 50px;               
                background-color: #fff;
            }
            
            .close {
                position: fixed;
                top: 0;
                z-index: 20;
                text-decoration: none;               
                background-color: red;
                text-align: center;
                height: 50px;
                width: 50px;
                box-sizing: border-box;
                color: yellow;
                font-size: 30px;
               
            }
            .close:hover {
                 background-color: #ccc;
            }   
            .main_answer,
            .answer {
                width: 25%;                
                text-align: center;
                display: inline-block;               
                font: 300 2vw/5vw 'Arial', sans-serif;
            }
            
            .answer {
                font: 300 1.22vw/3vw 'Arial', sans-serif;
            }     
            
           h2 {
               text-align: center;
               margin: 0;
               font: 400 2vw/50px 'Arial', sans-serif;
               background-color: lavender;
           
           }
           
            .write {
                vertical-align: middle;
                cursor: pointer;
                margin-left: 0.2vw;
                height: 4vw;
                width: 4vw;
                text-decoration: none;
                display: inline-block;
                border: 1px solid red;
                text-align: center;
                box-sizing: border-box;
                background-color: red;
                color: yellow;
                font: 300 3vw/4vw 'Arial', sans-serif;
            }
            .write:hover {
                border: 1px solid yellow;
            }

           
body   
    -var one = base   
        a.close(href="/" title="exit") &#11013;
        h2 QUESTIONS         
        div
            p.main               
                span.date DATE
                span.main_name NAME
                span.main_name EMAIL       
                span.main_answer QUESTION
                span.main_answer ANSWER         
            p.one           
            for i,index in one               
                    form.one(action="/send_answer" method="get")
                        span.date= i.date
                        input#name(type="text" value=i.name name="name") 
                        input#name(type="text" value=i.email name="email")
                        input.answer(type="text" value=i.question name="question")                        
                        input.answer(type="text" name="answer" value=i.answer)
                        button.write(type="submit" title="answer") &#x270E;
                        a.write(href=`/delete_question?email=${i.email}` title="delete question")  &#10006;       