doctype html
html
    head
        title my Site
        style.
            body {
                    background-color: #ccc;
                    margin: 0;
            }
            div {
                padding-top: 30px;
            }
            form span {
                text-align: center;
                display: inline-block;
                width: 10%;
                vertical-align: middle;
                font-size: 18px;
            }
            p.main span {
                text-align: center;
                display: inline-block;
                
                 font: 600 2vw/50px 'Arial', sans-serif;
               
            }
            p span.date {
                width: 10%;
                text-align: right;
            }
           
            #index,
            #save,
            p.one span.write {
                width: 4%;
                color: red;
            }
            .main_name {
                width: 15%;               
                text-align: center;               
                display: inline-block;               
               
            }
            #name {
                background-color: #ccc;
                border: none;
                width: 15%;
               
                text-align: center;
               
                display: inline-block;
               
                font: 400 1.5vw/50px 'Arial', sans-serif;
            }    
            p.main {                
                margin: 0 auto;
                position: fixed;
                width: 100%;
                top: 0;               
                background-color: #fff;
            }
            
            .close {
                position: fixed;
                top: 0;
                z-index: 20;
                text-decoration: none;               
                background-color: rgba(255, 255, 255);
                padding: 15px;
            }
            .close:hover {
                 background-color: #ccc;
            }   
            .main_answer,
            .answer {
                width: 25%;                
                text-align: center;
                display: inline-block;               
                font: 300 2vw/5vw 'Arial', sans-serif;
            }
            
            .answer {
                font: 300 1.22vw/3vw 'Arial', sans-serif;
            }     
            
           
           
            .write {
                vertical-align: middle;
                cursor: pointer;
                margin-left: 0.2vw;
                height: 4vw;
                width: 4vw;
                text-decoration: none;
                display: inline-block;
                border: none;
                text-align: center;
                box-sizing: border-box;
                background-color: green;
                color: #fff;
                font: 300 3vw/4vw 'Arial', sans-serif;
            }
           
body   
    -var one = base
   
   
        a.close(href="/" title="exit") &#11013;
        a.add(title="add item" onclick='open_add()') &#10010;              
        div
            p.main               
                span.date date
                span.main_name name 
                span.main_name email               
                span.main_answer question
                span.main_answer answer               
            p.one           
            for i,index in one               
                    form.one(action="/send_answer" method="get")
                        span.date= i.date
                        input#name(type="text" value=i.name name="name") 
                        input#name(type="text" value=i.email name="email")
                        input.answer(type="text" value=i.question name="question")                        
                        input.answer(type="text" name="answer" value=i.answer)
                        button.write(type="submit" title="answer") &#x270E;
                        a.write(href=`/delete_question?email=${i.email}` title="delete question")  &#10006;       