doctype html
html
  head
    meta(key="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")        
    style.
        body {
          background-color:  #ccc;
        }
        a {
           box-shadow: inset 0 0 5px 5px #ee82ee; 
                margin:10px 1%;
                width: 15%;          
                border-radius: 50px;      
                display: inline-block;
                text-align: center;
                background-color: #dda0dd;               
                font: 600 35px/60px "Arial",sans-serif;
                text-decoration: none;
                color: #fff;
                z-index: 0;
                vertical-align: middle;
                position: relative;
        }
        a.delete {
          width: 10%;
        }
        .all_image {
          width: 23%;
          margin: 0 0.5% 1%;
          cursor: pointer;
        }
        .all_image:hover {
            box-shadow: 0 0 5px 5px #ddd;
        }
        a:hover {
          background-color: #000;
          color: #fff;
          transition: all 0.5s;
        }
        b {
          display: inline-block;
          width: auto;
          font-size: 30px;
          cursor: pointer;
          padding: 10px;
          text-decoration: underline;
        }
        img {
          display: inline-block;          
          margin: 0 auto;
          vertical-align: middle;
        }
        a.delete {
          visibility: hidden;
        }
        a.delete:hover {
          background-color: red;
        }
        .del_block {
          cursor: pointer;
        }
        p {
          text-align: center;
          display: none; 
          width: 100%;        
          font: 400 30px/40px "Arial",sans-serif;
         
        }
        p:hover a.delete {
          transition: all 1s;
          visibility: visible;
        }
        .block_images {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: flex-start;
        }
        @media (max-width: 1000px) {
          a {
            padding: 10px 20px;
            font: 400 30px/40px "Arial",sans-serif;
          }
          img {           
            width: 100%;
          }
          .all_image {
            width: 23%;
          }
        }
   
     
  body
  script. 
      var img = "#{image}"
      var url = "#{url}"
      var brand = "#{brand}"
      const  view_image = ( b ) => {         
          var size = document.getElementsByTagName("img")[b].style.width
          var position = document.getElementsByTagName("img")[b].style.position
          document.getElementById("name_image").style.position = position == "fixed" ? "static" : "fixed"
          document.getElementById("name_image").style.display = position !== "fixed" ? "block" : "none"
          document.getElementById("name_image").style.top = "10px"
          document.getElementById("name_image").style.zIndex = 10
          document.getElementById("delete").href = url+ '/delete/?brand=' + brand + '&name=' + img.split(",")[b]
          document.getElementById("name").innerHTML = img.split(",")[b] + ' ' + ' <b>DELETE</b>'      
          document.getElementsByTagName("img")[b].style.width = size=="80%" ? "23%" : "80%"
          document.getElementsByTagName("img")[b].style.top = 0
          document.getElementsByTagName("img")[b].style.position = position == "fixed" ? "static" : "fixed"
           
      }                         
 
   
 
  a(href = url onEnter='color()') EXIT
  a(href = `${url}/upload_image/?brand=${brand}`) UPLOAD  
 
  p#name_image    
    span#name
    a(class = "delete" href = `${url}/items/?brand=${brand}&number=${n}`) no 
    a#delete(class = "delete") yes
  
  //- div
  //-     p 
  //-       
            
       
    
  //-     //- p       
  //-     //-   img(src = `${url}/items/${brand}/${im}` alt ="no image")
     
     
    
  //-     p 
  //-       a(href = `${url}/items/?brand=${brand}&number=${+n-1}`) prev
  //-       b #{im}      
  //-       a(href = `${url}/items/?brand=${brand}&number=${+n + 1}`) next 
  div.block_images 
     for i,index in image                   
        img.all_image(
          src = `${url}/items/${brand}/${i.replace(".jpg","").replace(".webp","")}`
          alt ="no image"
          onLeave =`view_name(${index})`
          onclick =`view_image(${index})`
         
        )
         