doctype html
html
  head
    meta(key="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")        
    style.
        body {
          background-color:  #00ffff;
        }
        a {
           box-shadow: inset 0 0 5px 5px #ee82ee; 
                margin:10px 1% 0;
                width: 15%;          
                border-radius: 50px;      
                display: inline-block;
                text-align: center;
                background-color: #dda0dd;               
                font: 600 35px/60px "Arial",sans-serif;
                text-decoration: none;
                color: #fff;
                z-index: 0;
                vertical-align: middle;
                position: relative;
        }
        a.delete {
          width: 5%;
        }
        a:hover {
          background-color: #000;
          color: #fff;
          transition: all 0.5s;
        }
        b {
          display: inline-block;
          width: auto;
          font-size: 30px;
        }
        img {
          display: inline-block;          
          width: 50%;
          vertical-align: middle;
        }
        a.delete {
          visibility: hidden;
        }
        a.delete:hover {
          background-color: red;
        }
        .del_block {
          cursor: pointer;
        }
        p {
          text-align: center;
          margin: 10;
        }
        p:hover a.delete {
          transition: all 1s;
          visibility: visible;
        }
        @media (max-width: 1000px) {
          a {
            padding: 10px 20px;
            font: 400 30px/40px "Arial",sans-serif;
          }
          img {
           
            width: 100%;
          }
        }
   
     
  body
  div
      p 
        a(href = url) EXIT
        a(href = `${url}/upload_image/?brand=${brand}`) UPLOAD  
            
        a DELETE
        a(class = "delete" href = `${url}/items/?brand=${brand}&number=${n}`) no 
        a(class = "delete" href = `${url}/delete/?brand=${brand}&name=${to_del}`) yes
    
      p       
        img(src = `${url}/items/${brand}/${im}` alt ="no image")
       
    
      p 
        a(href = `${url}/items/?brand=${brand}&number=${+n-1}`) prev
        b #{im}      
        a(href = `${url}/items/?brand=${brand}&number=${+n + 1}`) next   